.archive-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    font-weight: bold;
    font-size: 120px;
}

.archive-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0 10px 0;
}

.archive-box-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}

.archive-box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px 0 0 0;
}

.archive-box-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 200px;
    width: 800px;
    margin-bottom: 20px;
}

.archive-box-item:nth-child(1) .archive-box-year, .archive-box-item:nth-child(1) .archive-box-link {
    background-color: purple;
}

.archive-box-item:nth-child(2) .archive-box-year, .archive-box-item:nth-child(2) .archive-box-link {
    background-color: blue;
}

.archive-box-item:nth-child(3) .archive-box-year, .archive-box-item:nth-child(3) .archive-box-link {
    background-color: coral;
}

.archive-box-item:nth-child(4) .archive-box-year, .archive-box-item:nth-child(4) .archive-box-link {
    background-color: yellow;
}

.archive-box-item:nth-child(5) .archive-box-year, .archive-box-item:nth-child(5) .archive-box-link {
    background-color: green;
}

.archive-box-year {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 20px 0 0 20px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    opacity: 0.5;
}

.archive-box-link {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
    font-size: 100px;
    color: white;
    text-decoration: none;
    transition: opacity 0.4s ease-out;
}

.archive-box-link:hover {
    opacity: 0.5;
}

.resources-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 100px 30px 100px;
}

.resources-form-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}

.resources-form-subtitle {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.resources-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 550px; 
    background-color: lightgray;
    border-radius: 15px;
    opacity: 0.8;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.6s ease;
}

.resources-form-box:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.8);
}