.calendar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    font-weight: bold;
    font-size: 120px;
}

.calendar-title-indv {
    margin: 30px 0 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.calendar {
    max-width: 900px;
    margin: 20px auto 40px auto;
}

#calendarModal {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    padding: 15px;
    line-height: 22px;
    font-size: 14px;
    overflow-wrap: break-word;
    background-color: white;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 0 100px -4px;
    z-index: 3;
    transition: top 0.6s ease-out, left 0.6s ease-out, opacity 0.4s ease-out;
}

#calendarModalTitle {
    font-weight: bold;
}