.contact-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    font-weight: bold;
    font-size: 120px;
}

.contact-info {
    text-align: center;
    font-size: 24px;
    padding: 30px 100px 30px 100px;
}

.contact-info-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-info-sm-icon {
    margin-right: 25px;
    color: #000000;
    cursor: pointer;
    font-size: 30px;
}

.suggestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 100px 30px 100px;
}

.suggestions-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}

.suggestions-subtitle {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.suggestions-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 550px; 
    background-color: lightgray;
    border-radius: 15px;
    opacity: 0.8;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.6s ease;
}

.suggestions-box:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.8);
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 100px 10px 100px;
}

.board-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.board-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.board-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 20px 30px;
}

.board-member-image {
    width: 150px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px lightblue;
}

.board-member-title {
    font-weight: bold;
    text-align: center;
}

