header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-image: linear-gradient(to bottom, gray 0%, rgba(255, 255, 255, 0.4) 100%);
    z-index: 10;
}

header .meeting-time {
    margin: 20px 0 20px 20px;
    font-size: 14px;
    font-weight: bolder;
}

header nav {
    margin: 20px 40px 20px 0;
}

header nav .menu {
    display: flex;
}

header nav .menu .sub-menu {
    position: relative;
    margin: 0 20px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

header nav .menu .sub-menu a {
    color: #000000;
    text-decoration: none;
}

header nav .menu .sub-menu a:hover {
    opacity: 0.5;
}

footer {
    position: relative;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

footer .masthead {
    width: 100%;
}

footer .social-media {
    flex: 1;
    margin-top: 20px
}

footer .facebook {
    margin-right: 10px;
    color: #000000;
    cursor: pointer;
}

footer .youtube {
    color: #000000;
    cursor: pointer;
}

footer .copyright {
    margin-top: 20px;
    flex: 1;
    text-align: right;
}

footer .newsletter {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 100px;
    right: 180px;
    width: 400px;
}

footer .newsletter-form {
    display: flex;
}

footer .newsletter-input {
    flex: 3;
    margin: 10px 10px 0 0;
    padding: 0 0 2px 2px;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
}

footer .newsletter-button {
    flex: 1;
    border: 1px solid #000000;
    outline: none;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}