.image-slides-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 6px lightblue;
    z-index: 5;
}

.sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 550px; 
    background-color: lightgray;
    border-radius: 15px;
    opacity: 0.8;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.6s ease;
    z-index: 5;
}

.sign-up:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.8);
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    height: 100vh;
    display: flex;
    align-items: center;
    animation: slideshow 256s linear infinite;
}

.slide img {
    height: 100vh;
    opacity: 0.8;
}

@keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

.slider::before, .slider::after {
    height: 100vh;
    width: 100px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.about-us {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.about-us-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.about-us-desc {
    font-size: 20px;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.upcoming-events-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.upcoming-events-list {
    display: flex;
    list-style: none;
}

.upcoming-events-event {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: lightblue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.8s ease-out;
    user-select: none;
    text-align: center;
}

.upcoming-events-event:hover {
    opacity: 0.5;
}

.announcements {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.announcements-title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.announcements-desc {
    font-size: 20px;
}

.announcements-desc li {
    margin-bottom: 15px;
}

