.mr-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    font-weight: bold;
    font-size: 120px;
}

.mrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 100px 30px 100px;
}

.mrp-grid {
    display: grid;
    padding: 50px 0;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(18, 50px);
    font-size: 18px;
    font-weight: 600;
}

.mrp-grid-start {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 50px;
    place-items: center;
    grid-area: 1 / 1 / 2 / 6;
    font-size: 30px;
    font-weight: 700;
}

.mrp-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}

.mrp-desc {
    font-size: 20px;
    line-height: 22pt;
    text-align: center;
}

.mr-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    font-weight: bold;
    font-size: 120px;
}

.mrs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 100px 30px 100px;
}

.mrs-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 5px;
}

.mrs-desc {
    font-size: 20px;
    line-height: 22pt;
    text-align: center;
    margin-bottom: 30px;
}

.resources-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 550px; 
    background-color: lightgray;
    border-radius: 15px;
    opacity: 0.8;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.6s ease;
}

.resources-form-box:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.8);
}